html,
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #000;
    overflow: hidden;
    display: grid;
    place-content: center;
    color:#0ff;
}
#lobby {
    display: flex;
    flex-direction: column;
}
#gameCanvas {
    display: block;
    margin: 0 auto;
    background: #111;
}