html,
body {
    --hot-pink: rgb(255, 80, 226);
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #000;
    /* overflow-x: hidden; */
    display: grid;
    place-items: center;
    /* place-content: center; */
    color:#0ff;
    font-family: "Orbitron", sans-serif;
    letter-spacing: .12rem;
}

h1  {
    font-weight: 800;
    font-size: 5rem;
    span { color: var(--hot-pink) }
    }

#lobby {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .col {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin: 1rem;
        padding: 1rem;
        border: 1px solid;
        border-radius: 1rem;
        corner-shape: bevel;
        label {
            /* margin-top: 1rem; */
            color: var(--hot-pink);
        }
        input {
            height: 2rem;
            background-color: #222;
            color: rgb(0, 128, 128)
        }
        div {
            display: flex;
            align-items: center;
            button {
                margin-inline: auto 25%;
            }
        }
        button {
            padding: .5rem;
            font-family: inherit;
            font-size: 1rem;
        }
    }
    
    /* #status-message {
        grid-column: 1 / 2;
    } */
}
#hud {
    text-align: center;
}
#clock {
    font-size: 2rem;
}
#gameCanvas {
    display: block;
    margin: 0 auto;
    background: #111;
    border-radius: 3rem;
    corner-shape: bevel;
}